* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book1, .book2, .book3, .book4 {
    margin-right: 20px;
}

.btn {
    text-align: center;
}

.btn>button {
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
}

.final-body {
    text-align: center;
    margin-top: 10px;
}
p{
    font-size: 20px;
}

input {
    width: 200px;
    height: 40px;
    padding: 10px;
}

.body {
    background-color: rgb(45, 202, 202);
}